@model GAtec.Seletivo.Domain.Model.Recruitment

@{
    ViewBag.Title = "Recruitment";
}
<p></p>
<h4 class="text-gatec"> Cadastro de Recrutamento</h4>

<div class="container border rounded">
        <div class="col-md-8">
            <form id="form-create">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "col-form-label" })
                    @Html.TextBoxFor(model => model.Description, new { @class = " form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, new { @class = "col-form-label" })             
                    @Html.TextBoxFor(model => model.Date, new { @class = "form-control datetimepicker", title = "datetimepicker" })
                </div>

                <button type="submit" id="create" class="btn btn-info">
                    Cadastrar
                </button>
            </form>
        </div>
    </div>
<p></p>

    <div id="grid"></div>

    <!-- Modal -->
    <div class="modal fade" id="modal-edit" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-edit">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "col-form-label" })
                            @Html.TextAreaFor(model => model.Description, new { @class = " form-control", id = "description-edit" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, new { @class = "col-form-label", id = "date-edit" })
                            @Html.TextBoxFor(model => model.Date, new { @class = "form-control datetimepicker", title = "datetimepicker", id = "date-edit" })
                            @Html.HiddenFor(model => model.Id, new { id = "id-edit" })
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    <button id="update" type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(document).ready(function () {

        $(".datetimepicker").kendoDateTimePicker({
            value: new Date(),
            dateInput: true,
            format: "dd/MM/yyyy hh:mm:00"
            //parseFormats: ["dd-MM-yyyyThh24:mm:ss"]
        });

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("IndexAsync","Recruitment")",
                    dataType: "json",
                    type: "GET",
                    schema: {
                        parse: function (data) {
                            var res = [];
                            $.each(data, function (idx, elem) {
                                res.push({ date: new Date(elem.date.time) });
                            });
                            return res;
                        }
                    }
                },
                pageSize: 20
            },
            columns: [{
                field: "Id",
                hidden: true
            }, {
                field: "Description",
                title: "Descrição",
                width: 300
            }, {

                field: "Date",
                title: "Data",
                width: 200,
                type: 'date',
                template: '#= kendo.toString(Date, "dd/MM/yyyyThh:mm:ss") #'
            }, {
                template: "<button id='edit' class = 'btn btn-success'>Editar</button>",
                attributes: { "class": "text-center", },
                width: 100
            }, {
                template: "<button id='delete' class = 'btn btn-danger'>Excluir</button>",
                attributes: { "class": "text-center", },
                width: 100
            }, {
                template: "<button id='answer' class = 'btn btn-dark'>Adicionar exames</button>",
                attributes: { "class": "text-center", },
                width: 150
            }]

        });
    });

    $("#form-create").on("submit", function (e) {
        var data = $("#form-create").serialize();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create","Recruitment")',
            data: data,
            success: function () {
                atualizarGrid();
            }
        });

        e.preventDefault();
    });

    $("#grid").on("click", "#edit", function () {
        var grid = $("#grid").data("kendoGrid"),
            $button = $(this),
            $tr = $button.closest("tr");
        dataItem = grid.dataItem($tr);

        $("#description-edit").val(dataItem.Description);
        $("#date-edit").val(dataItem.Date);

        $("#id-edit").val(dataItem.Id);
        $('#modal-edit').modal('show');
    });

    $("#update").on("click", function () {
        var data = $("#form-edit").serialize();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Update","Recruitment")',
            data: data,
            success: function () {
                atualizarGrid();
            }
        });
    });

    $("#grid").on("click", "#delete", function () {
        var grid = $("#grid").data("kendoGrid"),
            $button = $(this),
            $tr = $button.closest("tr");
        dataItem = grid.dataItem($tr);

        var url = "@Url.Action("Delete","Recruitment")"

        $.ajax({
            url: url + '/' + dataItem.Id
        }).done(function () {
            $tr.remove();
            atualizarGrid();
        });
    });

    var atualizarGrid = function () {
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
    };

    </script>
