<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Content/js/jquery-1.12.3.min.js"></script>
    <script src="~/Content/js/kendo.all.min.js"></script>
    <link href="~/Content/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo.default.min.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-blue-gatec">
        @Html.ActionLink("Seletivo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                @if (User.IsInRole("Candidato"))
                {
                    <li class="nav-item">@Html.ActionLink("Provas", "Index", "Home", null, new { @class = "nav-link" })</li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Recrutamento", "Index", "Recruitment", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Exames", "Index", "Exam", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Questões", "Index", "Question", null, new { @class = "nav-link" })</li>
                }

            </ul>
        </div>

        <div class="pull-right">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {

                    <li class="pull-right nav-item">
                        <i class="pull-right glyphicon glyphicon-user text-white"></i>
                        <span class="text-white nav-link" style="padding-right: 5px;">
                            @User.Identity.Name
                        </span>
                    </li>

                    <li class="pull-right nav-item">@Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "nav-link" })</li>
                }
                else
                {
                    <li></li>
                    <li class="pull-right nav-item">@Html.ActionLink("LogIn", "Index", "Login", null, new { @class = "nav-link" })</li>
                }

            </ul>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
