@model GAtec.Seletivo.Domain.Model.Question
@{
    ViewBag.Title = "Question";
}

<h2> Cadastro de Questões</h2>

<div class="container">
    <div class="row">
        <form id="form-create">
            <div class="row form-group">
                @Html.LabelFor(model => model.Description, new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Description, new { @class = " form-control" })
            </div>
            <div class="row form-group">                
                @Html.TextBoxFor(model => model.Type, new { @class = " form-control", id = "type" })
                
            </div>
            <button type="submit" id="create" class="btn btn-info">
                Cadastrar
            </button>
        </form>
    </div>
</div>

<div id="grid" class="col-md-8"></div>

<!-- Modal -->
<div class="modal fade" id="modal-edit" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form id="form-edit">
                            <div class="row form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "col-form-label" })
                                @Html.TextBoxFor(model => model.Description, new { @class = " form-control", id = "description-edit" })
                            </div>
                            <div class="row form-group">
                                @Html.LabelFor(model => model.Type, new { @class = "col-form-label" })
                                @Html.TextBoxFor(model => model.Type, new { @class = " form-control", id = "type-edit" })
                                @Html.HiddenFor(model => model.Id, new { id = "id-edit" })
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                <button id="update" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>
    
<script>

    $(document).ready(function () {

        var data = [
            { text: "Dissertation", value: "1" },
            { text: "Multiple Choice", value: "2" }
        ];

        // create DropDownList from input HTML element
        $("#type").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            index: 0
        }); 

        // create DropDownList from input HTML element
        $("#type-edit").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data
        }); 

        $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("IndexAsync","Question")",
                        dataType: "json",
                        type: "GET"
                    }
                },
                columns: [{
                    field: "Id",
                    hidden: true
                }, {
                    field: "Description",
                    title: "Nome",
                    width: 400
                }, {
                    field: "Type",
                    title: "Tipo",
                    width: 50            
                },{
                   template: "<button id='edit' class = 'btn btn-success'>Editar</button>",
                   attributes: { "class": "text-center",}
                },{
                   template: "<button id='delete' class = 'btn btn-danger'>Excluir</button>",
                   attributes: { "class": "text-center", }
                }]
        });

    });

    $("#form-create").on("submit", function (e) {
        var data = $("#form-create").serialize();

        $.ajax({
            type: "POST",
            url: 'Create',
            data: data,
            success: function () {
                atualizarGrid();
            }
        });

        e.preventDefault();
    });

    $("#grid").on("click", "#edit", function () {
        var grid = $("#grid").data("kendoGrid"),
            $button = $(this),
            $tr = $button.closest("tr");
            dataItem = grid.dataItem($tr);        

        $("#description-edit").val(dataItem.Description);
        $("#type-edit").data("kendoDropDownList").value(dataItem.Type);

        $("#id-edit").val(dataItem.Id);
        $('#modal-edit').modal('show');
    });

    $("#update").on("click", function () {
        var data = $("#form-edit").serialize();

        $.ajax({
            type: "POST",
            url: 'Update',
            data: data,
            success: function () {
                atualizarGrid();
            }
        });
    });

    $("#grid").on("click", "#delete", function () {
        var grid = $("#grid").data("kendoGrid"),
            $button = $(this),
            $tr = $button.closest("tr");
        dataItem = grid.dataItem($tr);

        $.ajax({
            url: 'Delete/' + dataItem.Id
        }).done(function () {
            $tr.remove();
            atualizarGrid();
        });
    });

    var atualizarGrid = function () {
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
    };

</script>


